<TABLE style="text-align:right; margin-bottom:0px; float: right; background-color: #fff;">
<TR>
<TH style="width:225px; height:42px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:13.9pt; font-weight:normal; color:#000000"
>Reservation Terms </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>All Prices in U.S. Currency </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>All </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>rates based on </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>Double Occupancy. </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:29px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>$10 charge per additional person </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>above </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>base occupancy (4 person maximum). </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:29px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>No charge for children 5</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> and under with </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>parent. </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:29px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>Rate</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>s do not include 7% Lodging Tax </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>and $1.25/night TBID fee </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:43px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>A two night minimum stay is required </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>(during high season)</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> unless waived by </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>manager</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>. </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:29px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>Smoki</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>ng </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>or pets </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>in</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> suites </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>will be </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>charged a $50</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>0.00 cleaning fee. </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:20px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-weight:normal; color:#000000"
>Office hours </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:32px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:9.8pt; color:#000000"
>10 AM </SPAN
><SPAN style="font-size:9.8pt; color:#000000"
>-</SPAN
><SPAN style="font-size:9.8pt; color:#000000"
>4</SPAN
><SPAN style="font-size:9.8pt; color:#000000"
> PM </SPAN
><SPAN style="font-size:9.8pt; color:#000000"
>24 Hour answering service </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:19px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-weight:normal; color:#000000"
>Check-in/Out </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>Check</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>-</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>in time:      4 PM </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>Check</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>-</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>out time: 11 AM </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:19px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-weight:normal; color:#000000"
>Cancellation Fees </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>50% Reservation deposit is required. </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:29px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>$10.00 per </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>night fee</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> for cance</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>lled </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>reservations w/ 14 day or greater notice. </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:29px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>14 </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>day notice to cancel </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>and</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> receive </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>refund. </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:20px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-weight:normal; color:#000000"
>Monthly Rate Discounts </SPAN
></TH>
</TR>
<TR>
<TH style="width:225px; height:56px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>Monthly rates</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> between May 25</SPAN
><SPAN style="font-size:6pt; color:#000000"
>th</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> and </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>Sept. </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>15</SPAN
><SPAN style="font-size:6pt; color:#000000"
>th</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> generally not available. </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>Monthly rate requires rental agreement, </SPAN
><SPAN style="font-size:8.8pt; color:#000000"
>security deposit &amp;</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> payment</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> in advance. </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:19px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-weight:normal; color:#000000"
>Pets </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:225px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-size:8.8pt; color:#000000"
>No pets</SPAN
><SPAN style="font-size:8.8pt; color:#000000"
> allowed in Suites. </SPAN
></TH>
</TR>
</TABLE>