<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Kinds of activities</h2>
          <p><img alt="" src="/images/area_header.png" /></p>
          <div class="indent">
             <dl class="list2">
                <dt>Hiking/Outdoors</dt>
                <dd>The Flathead Valley is full of opportunities to get outdoors. Glacier Park is only a small portion of the beauty that surrounds us.</dd>
                <dt>Shopping</dt>
                <dd>With Kalispell, Whitefish and Bigfork in such close proximity you will find many local shops and unique venues to shop. </dd>
                <dt>Water Skiing, Wakeboarding and Fishing. </dt>
                <dd>We are surrounded by many pristine lakes. Flathead lake is of course the largest, but the smaller lakes are numerous too. </dd>
             </dl>
             
          </div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>About activities</h3>
                   <div class="inner">
                      <h5>Come Experience Montana!</h5>
                      The Flathead valley is one of the most beautiful places to visit in Montana and possibly the country. With lakes, beautiful Glacier Park scenery and a very friendly people, it's hard to imagine a place more beautiful. 
                      <div class="line-hor"></div>
                   </div>
                 
                   <ul class="list3">
                   	<li><a href="#"><img alt="" src="/images/3page-img2.jpg" /></a></li>
                      <li><a href="#"><img alt="" src="/images/fishing.png" /></a></li>
                      <li class="last"><a href="#"><img alt="" src="/images/fishing_2.JPG" /></a></li>
                   </ul>
                   <div class="line-hor"></div>
                  
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
    </div>
 </div>