<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Contact form</h2>
          <div class="indent">
             <form id="contacts-form" action="">
                <div>
                   <label>Enter your name<br /><input type="text" value=""/></label>
                   <label>Enter your e-mail<br /><input type="text" value=""/></label>
                   <label>Enter your state<br /><input type="text" value=""/></label>
                   Enter your message<br />
                   <textarea cols="" rows=""></textarea>
                   <div class="line-hor"></div>
                   <div class="wrapper"><a class="button1" href="#" onclick="document.getElementById('contacts-form').submit()">send</a><a class="button1" href="#" onclick="document.getElementById('contacts-form').reset()">clear</a></div>
                </div>
             </form>
          </div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Contact information</h3>
                   <div class="inner">
                      <h5>Congue fermentum nisl mauris accumsan nulla vel diamnibh</h5>
                      Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel.
                      <div class="line-hor"></div>
                      <p class="wrapper"><a href="#" class="button">view map</a></p>
                   </div>
                   <h3>Postal address</h3>
                   <div class="img-box">
                      <img alt="" src="images/5page-img1.jpg" />
                      <h5>The Company Name Inc.</h5>
                      8901 Marmora Road, Glasgow, D04 89GR.
                      <p class="cont-box"><span>+1 800 559 6580</span>Freephone:<br />      
                      <span>+1 959 603 6035</span>Telephone:<br />       
                      <span>+1 504 889 9898</span>FAX:</p>
                      E-mail: <a href="#">mail@companyname.com</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
    </div>
 </div>