<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Every suite has</h2>
          <p><img alt="" src="/images/1page-img1.jpg" /></p>
          <ul class="list1 p2">
          	<li><a href="#">Full Kitchens</a></li>
             <li><a href="#">Leather Furniture</a></li>
             <li><a href="#">Glacier Themed Architecture</a></li>
             <li><a href="#">Granite Countertops</a></li>
             <li><a href="#">Eco-Friendly</a></li>
             <li><a href="#">Luxury Boutique</a></li>
          </ul>
          <div class="wrapper"><a href="#" class="button1">read more</a></div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<img class="title" alt="" src="images/1page-title1.gif" /><br />
                   <div class="inner">
                      <h5>Glacier Ridge Suites</h5>
                    <p> We offer luxury suites and service, the old fashioned way.  Spacious suites feature down comforters on luxurious king beds and gourmet kitchens.  The Glacier artwork, leather furniture, warm wood, tile & granite finishes have guests saying, ‘Wow’!  We pride ourselves on pristine rooms, personal attention and affordability. </p>
                     <h5>Skiers 2 Mountain Package</h5>
                    <p> Ski Whitefish Mountain, Blacktail Mountain and stay with us 2 nights for only $79.00 / night! </p>
                      <div class="line-hor"></div>
                      <div class="wrapper"><a href="#" class="button">read more</a></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
       <ul class="banners">
       	<li><a href="#"><img alt="" src="/images/banner1.jpg" /></a></li>
          <li><a href="#"><img alt="" src="/images/banner2.jpg" /></a></li>
          <li class="last"><a href="#"><img alt="" src="/images/banner3.jpg" /></a></li>
       </ul>
    </div>
 </div>