
<STYLE type="text/css">
.rates_page IMG {
 text-align:left;
 vertical-align:top;
 margin-bottom:36px;
 margin-top:0px;
 margin-right:0px;
 margin-left:0px;
 direction:ltr
}
.rates_page TABLE {
 border-width:thin;
 border-collapse:collapse;
 padding:3px;
 text-align:center;
 vertical-align:top;
 margin-bottom:36px;
 margin-top:0px;
 margin-right:0px;
 margin-left:0px;
 direction:ltr;
 width:300px;
 height:auto;
 display:table;
 float:none
}
.rates_page TR {
 vertical-align:top;
 height:auto
}
.rates_page TH {
 text-align:left;
 vertical-align:top;
 padding: 10px;
}
.rates_page SPAN {
 font-family:'Times New Roman PS','Times New Roman PS',serif;
 font-size:12pt;
 font-style:normal;
 font-weight:bold
}
.rates_page TD { 
 text-align:left;
 vertical-align:middle;
 padding: 5px;
}
.rates_page P {
 text-align:left;
 margin-bottom:38px;
 margin-top:0px;
 margin-right:60px;
 text-indent:0px;
 direction:ltr;
 line-height:18px
}
</STYLE>

<div class='rates_page'>
  <br/>
  <br/>
<IMG width=209 height=672 style="display:block; float:left" src="images/2012_Rates_img_0.jpg">

<%= render :partial => 'terms' %>  
  
  
<TABLE style='margin-left: 250px; background-color: #fff'>
<TR>
<TH colspan=3 style="width:261px; height:41px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="color:#000000"
>2014 Rates (subject to change)</SPAN
></TH>
</TR>
<TR>
<TH colspan=3 style="width:261px; height:20px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> January 3, 2014</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> to April</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> 3</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>0</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>, 20</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>4 </SPAN
></TH>
</TR>
<TR>
<TH style="vertical-align:middle; width:114px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Nightly </SPAN
></TH>
<TD colspan=2 style="width:127px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>9.00 </SPAN
></TD>
</TR>
<TR>
<TH style="vertical-align:middle; width:114px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Weekly </SPAN
></TH>
<TD colspan=2 style="width:127px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 714.00 </SPAN
></TD>
</TR>
<TR>
<TH style="vertical-align:middle; width:114px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Monthly </SPAN
></TH>
<TD colspan=2 style="width:127px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 1,950.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=3 style="vertical-align:middle; width:241px; height:18px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>May</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> 1, 2014</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> to </SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>June</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> 2</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>, 20</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>4 </SPAN
></TH>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Nightly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 149.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Weekly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 894.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Monthly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 1,950.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=3 style="vertical-align:middle; width:241px; height:18px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>June</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> 2</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>2</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>, 2014</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> to Sept. </SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>16</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>, 20</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>4 </SPAN
></TH>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Nightly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 189.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Weekly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>,194.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Monthly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Gen N/A </SPAN
></TD>
</TR>
<TR>
<TH colspan=3 style="vertical-align:middle; width:241px; height:18px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>Sept.</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> 1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>7</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>, 20</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>4</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> to Dec. 15, 20</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>4 </SPAN
></TH>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Nightly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 129.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Weekly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 774.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Monthly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 1,950.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=3 style="vertical-align:middle; width:241px; height:18px; background-color:#CCCCCC; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>Dec. 16, 2014</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
> to January 2, 20</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>1</SPAN
><SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:10.8pt; font-weight:normal; color:#000000"
>4 </SPAN
></TH>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Nightly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 169.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Weekly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$    994.00 </SPAN
></TD>
</TR>
<TR>
<TH colspan=2 style="vertical-align:middle; width:117px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>Monthly </SPAN
></TH>
<TD style="width:123px; height:15px; border-style:solid; border-color:#000000; border-width:1px 1px 1px 1px">
<SPAN style="font-family:'serif', 'Times New Roman PSMT'; font-size:8.8pt; font-weight:normal; color:#000000"
>$ 1,950.00 </SPAN
></TD>
</TR>
</TABLE>

<div style="clear:both"></div>

</div>
