<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Real Estate</h2>
          <p><img alt="" src="/images/3page-img1.jpg" /></p>
          <div class="indent">
             <dl class="list2">
                <dt>Fusce euismod</dt>
                <dd>Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.  <a href="#">more</a></dd>
                <dt>Nam elit magna</dt>
                <dd>Vestibulum ante ipsum primis in faucibus orci luctus ultrices.  <a href="#">more</a></dd>
                <dt>Etiam cursus</dt>
                <dd>Nulla facili aean nec eros.  <a href="#">more</a></dd>
             </dl>
             <div class="wrapper"><a href="#" class="button1">view more</a></div>
          </div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Real Estate </h3>
                   <div class="inner">
                      <h5>Living in the Flathead valley is a dream for some.</h5>
                      Glacier Ridge Suites & American Interactive Real Estate has teamed up to provide access to the nicest real estate in the Flathead Valley.
                     
                      <div class="line-hor"></div>
                      <p class="wrapper"><a href="#" class="button">Browse Homes</a></p>
                   </div>
                   <h3>Homes</h3>
                   <ul class="list3">
                   	<li><a href="#"><img alt="" src="/images/3page-img2.jpg" /></a></li>
                      <li><a href="#"><img alt="" src="/images/3page-img3.jpg" /></a></li>
                      <li class="last"><a href="#"><img alt="" src="/images/3page-img4.jpg" /></a></li>
                   </ul>
                   <div class="line-hor"></div>
                
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
    </div>
 </div>