<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Real Estate</h2>
          <p><img alt="" src="/images/3page-img1.jpg" /></p>
          <div class="indent">
             <dl class="list2">
                <dt>Kalispell - <%= link_to "map", 'http://g.co/maps/x2nt4' %></dt>
                <dd>Live in the center of the FlatHead Valley, minutes from skiing, fishing, backpacking and family fun.</dd>
                <dt>Whitefish - <%= link_to "map", 'http://g.co/maps/rrkmz' %></dt>
                <dd>Find your dream vacation property or permanent home in this beautiful town.  Whitefish is nestled at the base of Whitefish Mountain Ski hill and is considered by some the Vail/Park City of Montana. </dd>
                <dt>Bigfork - <%= link_to "map", 'http://g.co/maps/4sbzv' %></dt>
                <dd>Have you ever wanted to live on a lake, enjoy fine food, watch the sail boats go by? If so, Bigfork is the place for you. Bigfork offers many lakeside properties and properties overlooking Flathead Lake. </dd>
                <dt>Columbia Falls - <%= link_to "map", 'http://g.co/maps/4sbzv' %></dt>
                <dd>Do you love Glacier Park? If so, you can't get much closer than Columbia Falls, Mt. Columbia Falls is truly small town living at it's best. It offers a variety of real estate opportunities not found anywhere else in the United States. </dd>
             </dl>
             
          </div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Real Estate </h3>
                   <div class="inner">
                      <h5>Living or owning real estate in the Flathead valley can be dream come true for many people.</h5>
                      <p>Glacier Ridge Suites and America Interactive Real Estate have teamed up to provide access to many elite properties in Northwest Montana.  Real Estate Broker, Kent Lembke has over 30 years on full-time experience helping friends find their new home or investment property in the Flathead Valley.  Just call or send Kent an email, he’ll be glad to hear from you and visit with you about your dream property.</p>
                     
                      <div class="line-hor"></div>
                      <p class="wrapper"><a href="http://nmar.com" class="button">NMAR.com</a></p>
                   </div>
                  
                   
                
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
    </div>
 </div>