<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Services list</h2>
          <div class="indent">
             <ul class="list1 p2">
                <li><a href="#">Aenean nonummy</a></li> 
                <li><a href="#">Hendrerit mauris</a></li> 
                <li><a href="#">Phasellus porta fusce</a></li>
                <li><a href="#">Suscipit varius mi</a></li> 
                <li><a href="#">Cum sociis natoque</a></li> 
                <li><a href="#">Penatibus et magnis</a></li> 
                <li><a href="#">Dis parturient mont</a></li> 
                <li><a href="#">Nascetur ridiculus</a></li> 
                <li><a href="#">Fusce fiat malesuada</a></li> 
                <li><a href="#">Morbi nunc odio</a></li> 
                <li><a href="#">Gravida at, cursus</a></li> 
                <li><a href="#">Nec, luctus a, lorem</a></li>
                <li class="last"><a href="#">Maecenas tristique</a></li> 
             </ul>
             <div class="wrapper"><a href="#" class="button1">more services</a></div>
          </div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Services overview</h3>
                   <div class="inner">
                      <img class="img-indent" alt="" src="images/4page-img1.jpg" />
                      <h5>Fusce euismod consequat ante lorem ipsum dolor sit amet, consectetuer</h5>
                      Cum sociis natoque penatibus et mags dis parturi- ent montes, nascetur ridiulus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus lorem.
                      <div class="clear"></div>
                      <div class="line-hor"></div>
                      <div class="wrapper"><a href="#" class="button">read more</a></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
       <ul class="banners">
       	<li><a href="#"><img alt="" src="images/banner1.jpg" /></a></li>
          <li><a href="#"><img alt="" src="images/banner2.jpg" /></a></li>
          <li class="last"><a href="#"><img alt="" src="images/banner3.jpg" /></a></li>
       </ul>
    </div>
 </div>