<div class="wrapper">
    <div class="col-1">
       <div class="indent">

          <div class="indent">
             <ul class="list1 p2">
                <li><a href="#">Handicapped Accessible</a></li> 
                <li><a href="#">Major Credit Cards Accepted</a></li> 
                <li><a href="#">Parking</a></li>
                <li><a href="#">Restaurant Within 2 Blocks</a></li> 
                <li class="last"><a href="#">Laundry Facilities Close By</a></li> 
                <li class="last"><a href="#">Shopping Close By</a></li> 
             </ul>
            
          </div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Services overview</h3>
                   <div class="inner">
                      <div class="service_list">
                      <h5>Kitchen</h5>
                      <ul>
                        <li>Microwave</li>
                        <li>Refrigerator</li>
                        <li>Dishwasher</li>
                        <li>Coffee Maker</li>
                        <li>Blender</li>
                        <li>Dishes and Utensils</li>
                      </ul>
                      </div>
                      
                      <div class="service_list">
                      <h5>Business Services</h5>
                      <ul>
                        <li>Fax Service</li>
                        <li>High Speed Internet Access</li>
                        <li>WIFI (In Room)</li>
                      </ul>
                      </div>
                      
                      <div class="service_list">
                      <h5>Room Amenities</h5>
                      <ul>
                        <li>Air Conditioning</li>
                        <li>Non-Smoking Rooms</li>
                        <li>DVD Player</li>
                        <li>VCR/Movie Rental</li>
                        <li>In-Room Movies</li>
                      </ul>
                      </div>
                      <div class="clear"></div>
                      <div class="line-hor"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
       <ul class="banners">
       	<li><a href="#"><img alt="" src="images/banner1.jpg" /></a></li>
          <li><a href="#"><img alt="" src="images/banner2.jpg" /></a></li>
          <li class="last"><a href="#"><img alt="" src="images/banner3.jpg" /></a></li>
       </ul>
    </div>
 </div>