<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Testimonials</h2>
          <h5>Patrick – <span>Lethbridge, Alberta</span></h5>
          <blockquote><p>&ldquo;Nice big suites and lots of room for entire family.  Very comfortable, relaxing and close to shopping & restaurants.&rdquo; </p></blockquote>
          <h5>Jean - <span>Social Circle, Georgia</span></h5>
          <blockquote><p>&ldquo; Room was very clean and neat – almost like being home away from home.  Nicely decorated and the bed was very comfortable.  Also very conveniently located.  Our stay was very good.  We would definitely come back and will recommend you to our friends and family.&rdquo; </p></blockquote>
          <h5>Norm & Kim - <span>Okotoks, Alberta</span></h5>
          <blockquote><p>&ldquo; Your rooms are incredibly comfortable and very tastefully done, with everything a person would need when arriving from out of town.  Very nicely decorated with both furniture and accents.  We’ve never been to any other hotel, motel or other that has made the effort to put that personal touch within.  Not only will we be back… we will tell our friends & family, this is ‘the best & only place to stay – home away from home it is indeed!&rdquo; </p></blockquote>
          <h5>Erin - <span>Helena, Montana</span></h5>
          <blockquote><p>&ldquo; Very nice setup – conducive to being able to work, cook, live while on the road.&rdquo; </p></blockquote>
          <div class="line-hor1"></div>
          
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Suites</h3>
                   <div class="inner">
                      <div class="img-box">
                         <img alt="" src="images/2page-img1.jpg" />
                         <h5>Many Glacier & Lake McDonald</h5>
                         <p>Spacious suites located at ground level facing either east or west.  Studio design offers open floor plan and an outdoor patio. Many glacier is a Barrier free suite conforming to ADA specifications.</p>
                          
                      </div>
                      <div class="wrapper">
                      
                      </div>
                      <div class="line-hor"></div>
                   </div>
                   
                   <div class="inner">
                       <div class="img-box">
                          <img alt="" src="images/2page-img1.jpg" />
                          <h5>Logan Pass & Avalanche Lake </h5>
                          <p>The interior designer came up with a very soothing color scheme and a nice mix of tile and carpet flooring. Separate and private bedroom has luxurious King sized bed. Full gourmet kitchen for snacking anytime.</p> 
                       </div>
                       <div class="wrapper">

                       </div>
                       <div class="line-hor"></div>
                     
                    </div>
                    
                    <div class="inner">
                        <div class="img-box">
                           <img alt="" src="images/2page-img1.jpg" />
                           <h5>Saint Mary Lake & Going to the Sun</h5>
                           <p>Large suites with separate bedroom and queen size pull out bed in the living room.  Each suite has big windows for an ample amount of natural Light in each room.  Beautiful photography from Glacier adorns the walls.</p> 
                        </div>
                        <div class="wrapper">

                        </div>
                        <div class="line-hor"></div>
                       
                     </div>
                     
                    
                   
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
    </div>
 </div>