<div class="wrapper">
    <div class="col-1">
       <div class="indent">
       	<h2>Testimonials</h2>
          <h5>Andy Markus, <span>February 20, 2009</span></h5>
          <blockquote><p>&ldquo; Mauris vel tortor vitae nibh condi- mentum auctor. Integer ac lacus. Cum sociis natoque penatibus et magnis dis parturient montes...&rdquo; </p></blockquote>
          <h5>Jenny Grosh, <span>February 10, 2009</span></h5>
          <blockquote><p>&ldquo; Proin dictum elemtum velit. Fusce euismod consquat ante. Lorem ipsum dolor sit amet, contuer adipiscing...&rdquo; </p></blockquote>
          <h5>Elza Markus, <span>January 10, 2009</span></h5>
          <blockquote><p>&ldquo; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra...&rdquo; </p></blockquote>
          <div class="line-hor1"></div>
          <div class="wrapper"><a href="#" class="button1">read more</a></div>
       </div>
    </div>
    <div class="col-2">
    	<!-- box begin -->
       <div class="box">
       	<div class="top">
          	<div class="bottom">
             	<div class="inner">
                	<h3>Suites</h3>
                   <div class="inner">
                      <div class="img-box">
                         <img alt="" src="images/2page-img1.jpg" />
                         <h5>The Glacier Suite</h5>
                         Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
                      </div>
                      <div class="wrapper">
                      
                      </div>
                      <div class="line-hor"></div>
                   </div>
                   
                   <div class="inner">
                       <div class="img-box">
                          <img alt="" src="images/2page-img1.jpg" />
                          <h5>The Lake Mcdonald Suite</h5>
                          Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
                       </div>
                       <div class="wrapper">

                       </div>
                       <div class="line-hor"></div>
                     
                    </div>
                    
                    <div class="inner">
                        <div class="img-box">
                           <img alt="" src="images/2page-img1.jpg" />
                           <h5>The Big Mountain Suite</h5>
                           Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
                        </div>
                        <div class="wrapper">

                        </div>
                        <div class="line-hor"></div>
                       
                     </div>
                     
                     <div class="inner">
                         <div class="img-box">
                            <img alt="" src="images/2page-img1.jpg" />
                            <h5>The Cherry Hill Suite</h5>
                            Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
                         </div>
              
                         <div class="wrapper">

                         </div>
                         <div class="line-hor"></div>
                      </div>
                   
                   
                </div>
             </div>
          </div>
       </div>
       <div class="box-bottom png"></div>
       <!-- box end -->
    </div>
 </div>